.chatwindow {
  position: fixed;
  background: white;
  width: 450px;
  height: 600px;
  position: fixed;
  border-radius: 15px;
  right: 50px;
  bottom: 75px;
  /* display: grid;
    margin: 0 auto;
    padding: 10px; */
  /* overflow-y: scroll;
    height: 600px; */
}

.textinput {
  color: #6c5ce7;
  width: 410px;
  border: none;
  border-radius: 2em;
  background: whitesmoke;
  font-size: 12pt;
  padding: 1em;
  /* margin-top: 1em; */
  /* position: fixed;
  bottom: 5%;
  right: 6%; */
}

.textinput:focus {
  outline: none;
}

.enterbutton {
  background-color: transparent;
  background-position: center;
  border: none;
  border-radius: 2em;
  cursor: pointer;
  background-size: 100%;
  /* position: fixed;
  right: 40px;
  bottom: 75px; */
}

.entericon {
  height: 35px;
  width: 35px;
  border-radius: 2em;
}

.convform {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.chatHeader {
  height: 30px;
  font-size: 15pt;
  border-radius: 10px;
  background: #6b5de7;
  color: whitesmoke;
}


.botTyping {
  padding: 1em;
  color: #6c5ce7;
  margin: none;
  width: fit-content;
  border: none;
  border-radius: 2em;
  background: whitesmoke;
  font-size: 12pt;
  text-align: -webkit-left;
  margin: 10px 10px 5px 5px;
}

/* Another Message Style */
/* .botTyping {
  float: left;
  margin-top: 5px;
  background: white;
  color: #6b5de7;
  box-shadow: 2px 3px 9px 0px #6c5ce7;
  margin-left: 0.5em;
  padding: 15px;
  border-radius: 0 20px 20px 20px;
  max-width: 60%;
  min-width: 20%;
  word-wrap: break-word;
  border-radius: 0 20px 20px 20px;
} */

/* css for  botTyping typewriter effect*/
.typewriter {
  text-align: -webkit-left;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #6c5ce7; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  /* margin: 0 auto;  */
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(60, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 25%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #6c5ce7;
  }
}

/* css for botTyping bouncing effect*/



.botTyping>div {
  width: 10px;
  height: 10px;
  background-color: #6b5de7;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  margin-right: 5px;
}

.botTyping .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.botTyping .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
      -webkit-transform: scale(0)
  }
  40% {
      -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
  }
}
